<!DOCTYPE html>
<html lang="en">

<head>
	<title>Login V2</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/public/output.css">

	<style>
		.center {
			margin: auto;
			width: 50%;
			padding: 10px;
			margin-top: auto;
		}
	</style>
</head>

<body>
	{{!-- ----------------------------------- --}}
	<div class="center">

		<form action="/login" method="POST">
			<div class="mb-3 ">
				<label for="username" class="form-label">usernames</label>
				<input type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp">
			</div>
			<div class="mb-3">
				<label for="exampleInputPassword1" class="form-label">Password</label>
				<input name="password" type="password" class="form-control" id="exampleInputPassword1">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		
		<div>
			{{#if errorMessage}}
			<p class="text-danger mt-3">{{errorMessage}}</p>
			{{/if}}
			<span>
				Don’t have an account?
			</span>

			<a href=" /signup">
				Sign Up
			</a>
		</div>
				<div class="cred center bg-primary " style="text-align:center; margin-top:10%; color:white; border-radius:5px;">
			<p style="">username: ashik</p>
			<p>password: ashik</p>
		</div>
	</div>
	{{!-- ----------------------------------------------- --}}


	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>